[Desktop Entry]
Type=Application
Name=Inlinea
Comment=Professional PDF viewer and annotation editor
Exec=python3 INSTALL_DIR/main.py %F
Icon=/mnt/A2463BFE463BD231/Users/kaurm/Code/test_folder/linux-pdf-editor/inlinea.png
MimeType=application/pdf;
Categories=Office;Viewer;Graphics;
Terminal=false
StartupNotify=true
