[Desktop Entry]
Type=Application
Name=Inlinea
Comment=Professional PDF viewer and annotation editor
Exec=python3 INSTALL_DIR/main.py %F
Icon=INSTALL_DIR/src/assets/images/inlinea.png
MimeType=application/pdf;
Categories=Office;Viewer;Graphics;
Terminal=false
StartupNotify=true
